<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwuAL0RqE9PZ8VVUsqIlRDyUtavhpI13A</string>
	<key>GCM_SENDER_ID</key>
	<string>401168638322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aquariumai.fishkeeping</string>
	<key>PROJECT_ID</key>
	<string>aquaai-92258</string>
	<key>STORAGE_BUCKET</key>
	<string>aquaai-92258.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401168638322:ios:998f022433deb40f4ebdeb</string>
</dict>
</plist>