<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FaceFlow</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>KnitPal</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>twitter</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-szwcBj2lCk6nxhm8T6rXj4nc6</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>facebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb451088681917292</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>yarnpal</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>EnableBlackWhiteList</key>
	<false/>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseDataCollectionDefaultEnabled</key>
	<false/>
	<key>GLSBuilderKey</key>
	<string>DuZ7Oqf8njh+ogW6iQI+cMfi8dGCjfuPfWWpEmGnWIAik10CSSLP4w+3qpn65OV1jE18Gv83X9JesVz0J4NrCd1v0BJazYH5xX/2vXR8nldNslVyu8Eb3jmHvmx4Siq8+6aLXMzaFNNIqKyKLseHLt50OtNJruNoskpyVMjOpKx+aQDYP91h6+OwovkAKRapLkuO20plLxY93tqqgDEez7vfFDEXnZuNKXgaeybUTReQtTiNwdrU66WP28DOfo0e9jC5r5nG3meK3Fbpy4FtSFzCfUxNQfi6jPoGz5KU32NeEnl7SADBTSHZnUaHMH3FIz3NhlLtRwOGkMfJebkaiA==</string>
	<key>HideWhiteList</key>
	<array>
		<string>home</string>
		<string>mygarden</string>
		<string>snaphistory</string>
		<string>diagnose</string>
		<string>more</string>
		<string>my_plants</string>
		<string>placeholder</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>twitter</string>
		<string>twitterauth</string>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
		<string>fb</string>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>instagram-capture</string>
		<string>fbapi</string>
		<string>fb-messenger</string>
		<string>fb-messenger-api</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>iosamap</string>
		<string>tg</string>
		<string>line</string>
		<string>googlegmail</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Snap a picture of a plant and AINote can identify it</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow microphone access to record your singing</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow us to save photos to your album</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Submit a picture of plant and AINote can identify it</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>This allows us to personalize content for you, and improve attribution (to bring more users like you to AINote)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
